html {
    font-size: 16px;
}

.parent {
  height: 300px;
  width: 600px;
  padding: 0 1em;
  margin: 1em;
  border: 1px solid red;
}

.child {
    font-size: 1.2rem;
    position: relative; /*posicion relativa*/
    top: 50%;/*desplazamos el top un 50% desde arriba. La primera linea estará en el medio*/
    transform: translateY(-50%);/*trasladamos el contenido un 50% hacia arriba*/
}