*:focus { /*aplica a todos los elementos*/
  outline: 2px dotted red;
}

/*Pseudo-elements*/

p::first-letter {
  color: red;
  font-size: 3rem;
  line-height: 0;
  display: block;
  float: left;
  margin-top: .125rem;
  margin-right: .5rem;
}

p::first-line { /*elemento que hace la primera fila*/
  color: red;
}

input[type=text]::placeholder { /*selecciona un elemento en base al valor de un atributo y seleccionamos el elemento placeholder*/
  font-family: cursive;
}

::selection {
  background-color: cornflowerblue;
  color: white;
}

::backdrop {
  background: cornflowerblue;
}

/*pseudo-clases*/