<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="5_float.css">
</head>

<body>
<h1>Flexbox</h1>
<nav>
    <ul>
        <li>Nav Element</li>
        <li>Nav Element</li>
        <li>Nav Element</li>
    </ul>
</nav>
<!-- Hay tres bloques, section, main y aside. Con float vamos a poner los dos primeros a la izquierda y el tercero a la derecha-->
<div class="container">
    <section>
        <div><span>1</span></div>
        <div><span>2</span></div>
        <div><span>3</span></div>
    </section>
    <main>
        <h2>Main Content</h2>
        <p>Lorem ipsum dolor sit amet, consectetur... </p>
        <img src="./image.png" alt="">
        <p>Varius morbi enim nunc faucibus a. Ut placerat... </p>
        <p>Eget duis at tellus at urna condimentum mattis... </p>
    </main>
    <aside>
        <h2>Aside</h2>
        <p>Placerat duis ultricies lacus sed turpis tincidunt id aliquet... </p>
    </aside>
</div>
</body>

</html>