<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="7_2_grid.css">
</head>

<body>
<div class="container">
    <header>
        <h2>Header</h2>
    </header>
    <main>
        <h2>Main</h2>
        <p>Lorem ipsum dolor sit amet, consectetur… </p>
        <p>Quisque faucibus, augue sed varius ornare… </p>
    </main>
    <aside class="sidebar">
        <h2>Sidebar</h2>
        <ol>
            <li>Lorem</li>
            <li>Ipsum</li>
            <li>Dolor</li>
            <li>Sit</li>
            <li>Amet</li>
        </ol>
    </aside>
    <footer>
        <h2>Footer</h2>
    </footer>
</div>
</body>

</html>