<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="8_responsive.css">
</head>

<body>
    <header>
        <h1>Responsive Design</h1>
    </header>
    <nav>
        <ul>
            <li><a href="">Link 1</a></li>
            <li><a href="">Link 2</a></li>
            <li><a href="">Link 3</a></li>
        </ul>
    </nav>
    <h2>My Items</h2>
    <main>
        <article>
            <h3>Article Title</h3>
            <p>Lorem ipsum dolor sit amet,
                consectetur elit...</p>
            <a href="">Read More</a>
        </article>
        ...
    </main>
</body>

</html>